<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <script
      src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js"></script>
  <script
      src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-route.js"></script>
  <script src="/client/app.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/client/bootstrap/css/bootstrap.min.css">
</head>
<body ng-app="timezones">
<script type="text/ng-template" id="register.html">
  <div ng-include="'errors.html'"></div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <legend>Register</legend>
      <form role="form">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" type="text" ng-model="user.name"
                 class="form-control">
        </div>
        <div class="form-group">
          <label for="login">Login</label>
          <input id="login" type="text" ng-model="user.login"
                 class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>

          <input id="password" type="password" ng-model="user.password"
                 class="form-control">
        </div>
        <div class="form-group">
          <label for="confirm_password">Confirm Password</label>
          <input id="confirm_password" type="password"
                 ng-model="user.check_password"
                 class="form-control">
        </div>
        <button class="btn btn-primary" ng-click="register()">Register</button>
      </form>
    </div>
  </div>
</script>
<script type="text/ng-template" id="login.html">
  <div ng-include="'errors.html'"></div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <legend>Login</legend>
      <form role="form">
        <div class="form-group">
          <label for="login">Login</label>
          <input id="login" class="form-control" type="text"
                 ng-model="login_info.login">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" class="form-control" type="password"
                 ng-model="login_info.password">
        </div>
        <button type="submit" class="btn btn-primary"
                ng-click="do_login()">
          Login
        </button>
        <a class="btn btn-default" href="#/register">Register</a>
      </form>
    </div>
  </div>
</script>

<script type="text/ng-template" id="timezones.list.html">
  <div ng-include="'header.html'"></div>
  <div class="row">
    <legend>Timezones</legend>
    <div class="col-md-12">
      <form role="form" class="form-inline">
        <div class="form-group">
          <label for="query">Search</label>
          <input id="query" type="text" ng-model="query" class="form-control">
        </div>
        <button class="btn btn-default" ng-click="list(query)">Search</button>
        <button class="btn btn-primary" ng-click="create()">New Timezone
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div ng-show="filter_query">
      Showing results for "{{filter_query}}"
      <button class="btn btn-default" ng-click="list()">Show All</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" ng-repeat="tz in timezones">
      <h2>{{tz.city}}</h2>
      <h4>{{tz.gmt_delta_seconds|tzDelta}}
        <a href
           ng-click="remove($index)"><i
            class="glyphicon glyphicon-remove"></i></a>

        <a href="#/timezones/edit/{{tz.id}}"><i
            class="glyphicon glyphicon-pencil"></i></a>
      </h4>
    <span analog-clock
          time="currentTime|adjustTime:tz.gmt_delta_seconds"></span>
      <h4>{{currentTime|adjustTime:tz.gmt_delta_seconds|date:'short'}}</h4>
    </div>
  </div>
</script>

<script type="text/ng-template" id="timezones.edit.html">
  <div ng-include="'header.html'"></div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <ul ng-show="editor.$submitted">
        <li ng-show="editor.city.$error.required">Enter a city name</li>
        <li ng-show="editor.delta.$error.tzDelta">Invalid offset: [+-]HH:MM</li>
      </ul>
      <form name="editor" role="form" novalidate>
        <input type="hidden" ng-model="timezone.id">

        <div class="form-group">
          <label for="city">City</label>
          <input id="city" type="text" name="city" required
                 ng-model="timezone.city"
                 class="form-control">
        </div>
        <div class="form-group">
          <label for="tzoffset">Time offset [+-]HH:MM</label>
          <input id="tzoffset" tz-delta type="text"
                 name="delta" ng-model="timezone.gmt_delta_seconds"
                 class="form-control">
        </div>
        <input class="btn btn-primary" type="submit" ng-click="save(editor)"
               value="Save">
        <a class="btn btn-default" href="#/timezones">Cancel</a>
      </form>
    </div>
  </div>
</script>

<script type="text/ng-template" id="header.html">
  <div class="row">
    <div class="col-md-4 col-md-offset-8" ng-controller="auth">
      <span>{{user.name}}({{user.login}})</span>
      <a ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i></a>
    </div>
  </div>
  <div ng-include="'errors.html'"></div>
</script>


<script type="text/ng-template" id="errors.html">
  <ul ng-show="errors.length > 0">
    <li ng-repeat="error in errors">{{error.description}}
      <ul
          ng-show="error.description == 'Validation Error'"
          ng-repeat=" detail in error.details">
        <li ng-repeat="(field, desc) in detail">
          {{field}}: <span ng-repeat="sentence in desc">{{sentence}}.</span>
        </li>
      </ul>
    </li>
  </ul>
</script>
<div class="container" ng-view>

</div>
</body>
</html>